@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

// FONTS
$primary-font: 'Manrope', sans-serif;


// PRIMARY COLORS
$primary-color: #FFFFFF;
$secondary-color: #A40C8B;
$background-color: #F6F8FA;
$border-color: #f1f1f1;
$input-border-color: #d9d9d9;


// GENERAl COLORS
$success-color: #1eff00;
$error-color: #ff1900;

// FONT COLORS
$sub-color: #919191;
$gray-color: #4d4d4d;



